<footer class="footer">

    <div class="footer-content">

        <h3>

            🎬 Movie Discovery AI

        </h3>

        <p>

            Intelligent Movie Recommendation System
            using Content-Based and Hybrid Filtering

        </p>

        <p>

            Powered by TMDB API • Flask • Python • Machine Learning

        </p>

        <div class="footer-links">

            <a href="/">Home</a>

            <a href="/movie-based">
                Movie Based
            </a>

            <a href="/mood-based">
                Mood Based
            </a>

        </div>

        <hr>

        <p class="copyright">

            © 2026 Movie Discovery AI

            <br>

            Developed by Abhinab Dowerah

        </p>

    </div>

</footer>