<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        Movie Recommendation
    </title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    {% include 'navbar.html' %}

    <div class="search-page">

        <h1>
            Recommend Based On A Movie
        </h1>

        <form 
                id="recommendForm"
                action="/recommend"
                method="POST">

            <input type="text"
                   name="movie"
                   list="movies"
                   placeholder="Search movie..."
                   required>

            <datalist id="movies">

                {% for movie in movie_list %}

                <option value="{{ movie }}">

                {% endfor %}

            </datalist>

            <button 
            
                type="button"
                onclick="startRecommendation()">
                    Get Recommendations
            </button>

        </form>

    </div>

    <div id="loading-screen">

        <div class="movie-loader">

                <picture>

                    <source
                        srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f3ac/512.webp"
                        type="image/webp">

                    <img
                        src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f3ac/512.gif"
                        alt="🎬">

                </picture>

        </div>

        <h2 id="loading-text">

            Understanding your movie taste...

        </h2>

    </div>

    {% include 'footer.html' %}

<script>

const messages = [

    "Understanding your movie taste...",

    "Exploring thousands of movie connections...",

    "Matching genres, stories, and emotions...",

    "Finding the best recommendations for you...",

    "Preparing your personalized watchlist..."

];

let current = 0;

function startRecommendation() {

    document.getElementById(
        "loading-screen"
    ).style.display =
    "flex";

    const text =
    document.getElementById(
        "loading-text"
    );

    const interval =
    setInterval(() => {

        current =
        (current + 1) %
        messages.length;

        text.innerText =
        messages[current];

    }, 1200);

    setTimeout(() => {

        document.getElementById(
            "recommendForm"
        ).submit();

    }, 300);
}

</script>

</body>

</html>