<nav class="navbar">

    <div class="logo">

        <a href="/">

            🎬 Movie Discovery AI

        </a>

    </div>

    <div class="nav-links">

        <a href="/">Home</a>

        <a href="/movie-based">

            Movie Recommendations

        </a>

        <a href="/mood-based">

            Mood Recommendations

        </a>

    </div>

    <div class="engine-area">

        <form
            action="/set-engine"
            method="POST">

            <select
                name="engine"
                onchange="this.form.submit()">

                <option
                    value="content"

                    {% if selected_engine == 'content' %}
                    selected
                    {% endif %}>

                    Content-Based

                </option>

                <option
                    value="hybrid"

                    {% if selected_engine == 'hybrid' %}
                    selected
                    {% endif %}>

                    Hybrid AI (Beta)

                </option>

            </select>

        </form>

    </div>

</nav>